body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
  }

  a{
    text-decoration: none;
    color: var(--white);
  }

p,h1,h2,h3,.tarif{
  margin-inline: 5%;
  margin-top: 0;
}

p,.tarif{
  color: var(--black);
  font-size: var(--body-1);
}

h1{
  font-size: var(--heading-2);
  margin-bottom: 0;
}
.couv__oeuvre{
  text-align: center;
  font-weight: lighter;
  font-size: var(--heading-1);
  margin: 0;
}

.legende{
  text-align: center;
  font-style: italic;
  margin-inline: 20%;
}

.underlink{
  text-decoration: underline;
}

.methode{
  margin-bottom: 1%;
}

.methode__pic{
  margin-right: 3%;
}