body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
  }

  a{
    text-decoration: none;
    color: var(--white);
  }

p,h1,h2,h3{
  margin-inline: 5%;
  margin-top: 0;
}

p{
  color: var(--black);
  font-size: var(--body-1);
}

h1{
  font-size: var(--heading-2);
  margin-bottom: 0;
}

.legende{
  text-align: center;
  font-style: italic;
}

.underlink{
  text-decoration: underline;
}