header{
    background-color: var(--dark--bg);
    text-decoration: none;
    z-index: 2;
    box-shadow: ;
  }
  
  .header_element{
    display: flex;
    justify-content: space-between;
  }
  