.menu {
    z-index: 9;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--dark--bg);
    display: grid;
  }

.menu_link{
  list-style: none;
  margin-top: 25%;
  font-size: var(--button);
}

li{
  margin-bottom: 5%;
}
  
  .header__menuBtn {
    margin-right: 5%;
    border: none;
    position: relative;
    background: none;
    z-index: 10;
  }

  .noscroll,.noscroll body {
  overflow: hidden;
  }

  

.contact{
  margin-top: 60%;
  margin-inline: 10%;
  height: 40%;
  
  
}