.menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--dark--bg);
    display: grid;
  }

.menu_link{
  list-style: none;
  margin-top: 20%;
  font-size: var(--button);
}

li{
  margin-bottom: 5%;
}
  
  .header__menuBtn {
    margin-right: 5%;
    border: none;
    position: relative;
    background: none;
    z-index: 10;
  }

  .noscroll,.noscroll body {
  overflow: hidden;
  }

  .header_element_logo{
    margin-inline: 3%;
    margin-bottom: 2%;
  }

  .header_element_menuimg{
    scale: 2;
  }

.contact{
  margin-inline: 10%;
  
}